# Assignment 3

### Que 1

In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_excel('C:\DataAnalytics\Energy Indicators.xls')

In [30]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...,...,...
277,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,Data Quality:,NaN,NaN,NaN,NaN
280,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
281,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

In [31]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

In [32]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 1'])

In [33]:
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...
277,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN

In [34]:
df = df.rename(columns={'Unnamed: 2': 'Country', 'Unnamed: 3': 'Energy Supply', 'Unnamed: 4': 'Energy Supply per Capita', 'Unnamed: 5': '% Renewable'})

In [35]:
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...
277,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN

In [36]:
df['Energy Supply'] = df['Energy Supply']*1000000

In [37]:
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...
277,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN

In [51]:
data = df.copy()

In [52]:
data

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...
277,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN

In [53]:
data = data.set_index('Country')

In [54]:
data

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
Environmental Indicators: Energy,NaN,NaN,NaN
NaN,NaN,NaN,NaN
Energy Supply and Renewable Electricity Production in 2013,NaN,NaN,NaN
NaN,NaN,NaN,NaN
NaN,NaN,NaN,Last update: December 2015
...,...,...,...
NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN

In [55]:
data = data.T.rename(columns={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kindom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"})

In [56]:
data

Country,Environmental Indicators: Energy,NaN,Energy Supply and Renewable Electricity Production in 2013,NaN,NaN,NaN,Choose a country from the following drop-down list:,NaN,Country,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Energy Supply,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Energy SupplyEnergy SupplyEnergy SupplyEnergy ...,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Energy Supply per Capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Energy Supply per capita,Gigajoules,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
% Renewable,NaN,NaN,NaN,NaN,Last update: December 2015,NaN,Andorra,NaN,Renewable Electricity Production,%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
data

Country,Environmental Indicators: Energy,NaN,Energy Supply and Renewable Electricity Production in 2013,NaN,NaN,NaN,Choose a country from the following drop-down list:,NaN,Country,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Energy Supply,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Energy SupplyEnergy SupplyEnergy SupplyEnergy ...,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Energy Supply per Capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Energy Supply per capita,Gigajoules,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
% Renewable,NaN,NaN,NaN,NaN,Last update: December 2015,NaN,Andorra,NaN,Renewable Electricity Production,%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
data = data.T

In [93]:
from string import digits

In [103]:

for cols in ['Bolivia (Plurinational State of)', 'Switzerland32']:
    if '(' in cols:
        cols = cols.split('(')
        cols = cols[0]
        print(cols)
    
    if '0' or '1' or '2' or '3' or '4' or '5' or '6' or '7' or '8' or '9' in cols:
        cols = cols.re

Bolivia
Bolivia
Switzerland32

In [112]:
def answer_one():
    import numpy as np
    import pandas as pd
    energy = pd.read_excel('C:\DataAnalytics\Energy Indicators.xls', skipfooter=38, skiprows=17)
    col_name
    
    
    
    return energy

In [113]:
answer_one()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
...,...,...,...,...,...,...
222,NaN,Viet Nam,Viet Nam,2554,28,45.321520
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.000000
224,NaN,Yemen,Yemen,344,13,0.000000
225,NaN,Zambia,Zambia,400,26,99.714670
226,NaN,Zimbabwe,Zimbabwe,480,32,52.536120